<header id="header">
				<h1><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/logo.png" id="logo"></a></h1>
				<nav id="nav">
					<ul>
						<!-- <li><a href="{{ site.baseurl }}/">Welcome</a></li>
                        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li> -->
						
						<li class="submenu">
							<a id="landing" href="#" title="Legendary Business Machines">T series</i></a>
							<ul>
								<!-- <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li> -->
								<li class="submenu">
									<a href="">8th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t480" id="ComingSoon" title="Coming Soon">T480</a></li>
										<li><a href="{{ site.baseurl }}/t480s" id="ComingSoon" title="Coming Soon">T480s</a></li>
										<li><a href="{{ site.baseurl }}/t580" id="ComingSoon" title="Coming Soon">T580</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">7th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t470" id="ComingSoon" title="Coming Soon">T470</a></li>
										<li><a href="{{ site.baseurl }}/t470p" id="ComingSoon" title="Coming Soon">T470p</a></li>
										<li><a href="{{ site.baseurl }}/t470s" id="ComingSoon" title="Coming Soon">T470s</a></li>
										<li><a href="{{ site.baseurl }}/t570" id="ComingSoon" title="Coming Soon">T570</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">6th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t460" id="ComingSoon" title="Coming Soon">T460</a></li>
										<li><a href="{{ site.baseurl }}/t460p" id="ComingSoon" title="Coming Soon">T460p</a></li>
										<li><a href="{{ site.baseurl }}/t460s" id="ComingSoon" title="Coming Soon">T460s</a></li>
										<li><a href="{{ site.baseurl }}/t560" id="ComingSoon" title="Coming Soon">T560</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">5th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t450" id="ComingSoon" title="Coming Soon">T450</a></li>
										<li><a href="{{ site.baseurl }}/t450s" id="ComingSoon" title="Coming Soon">T450s</a></li>
										<li><a href="{{ site.baseurl }}/t550" id="ComingSoon" title="Coming Soon">T550</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">4th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t440" id="ComingSoon" title="Coming Soon">T440</a></li>
										<li><a href="{{ site.baseurl }}/t440p" id="ComingSoon" title="Coming Soon">T440p</a></li>
										<li><a href="{{ site.baseurl }}/t440s" id="ComingSoon" title="Coming Soon">T440s</a></li>
										<li><a href="{{ site.baseurl }}/t540" id="ComingSoon" title="Coming Soon">T540</a></li>
										<li><a href="{{ site.baseurl }}/t540p" id="ComingSoon" title="Coming Soon">T540p</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">3rd Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t430">T430/T430i</a></li>
										<li><a href="{{ site.baseurl }}/t430s" id="ComingSoon" title="Coming Soon">T430s</a></li>
										<li><a href="{{ site.baseurl }}/t430u" id="ComingSoon" title="Coming Soon">T430u</a></li>
										<li><a href="{{ site.baseurl }}/t530" id="ComingSoon" title="Coming Soon">T530/T530i</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">2nd Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t420" id="ComingSoon" title="Coming Soon">T420/T420i</a></li>
										<li><a href="{{ site.baseurl }}/t420s" id="ComingSoon" title="Coming Soon">T420s/T420si</a></li>
										<li><a href="{{ site.baseurl }}/t520" id="ComingSoon" title="Coming Soon">T520/T520i</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">1st Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t410" id="ComingSoon" title="Coming Soon">T410/T410i</a></li>
										<li><a href="{{ site.baseurl }}/t410s" id="ComingSoon" title="Coming Soon">T410s/T410si</a></li>
										<li><a href="{{ site.baseurl }}/t510" id="ComingSoon" title="Coming Soon">T510/T510i</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">0th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t400" id="ComingSoon" title="Coming Soon">T400</a></li>
										<li><a href="{{ site.baseurl }}/t400s" id="ComingSoon" title="Coming Soon">T400s</a></li>
										<li><a href="{{ site.baseurl }}/t500" id="ComingSoon" title="Coming Soon">T500</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="{{ site.baseurl }}/x" title="Portable Laptops">X series</i></a>
							<ul>
								<li class="submenu">
									<a href="">X100 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/x100e" id="ComingSoon" title="Coming Soon">X100e</a></li>
										<li><a href="{{ site.baseurl }}/x120e" id="ComingSoon" title="Coming Soon">X120e</a></li>
										<li><a href="{{ site.baseurl }}/x121e" id="ComingSoon" title="Coming Soon">X121e</a></li>
										<li><a href="{{ site.baseurl }}/x130e" id="ComingSoon" title="Coming Soon">X130e</a></li>
										<li><a href="{{ site.baseurl }}/x131e" id="ComingSoon" title="Coming Soon">X131e</a></li>
										<li><a href="{{ site.baseurl }}/x140e" id="ComingSoon" title="Coming Soon">X140e</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X200 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/x200" id="ComingSoon" title="Coming Soon">X200</a></li>
										<li><a href="{{ site.baseurl }}/x200s" id="ComingSoon" title="Coming Soon">X200s</a></li>
										<li><a href="{{ site.baseurl }}/x200" id="ComingSoon" title="Coming Soon">X201/X201i</a></li>
										<li><a href="{{ site.baseurl }}/x201s" id="ComingSoon" title="Coming Soon">X201s</a></li>
										<li><a href="{{ site.baseurl }}/x220" id="ComingSoon" title="Coming Soon">X220/X220i</a></li>
										<li><a href="{{ site.baseurl }}/x230" id="ComingSoon" title="Coming Soon">X230/X230i</a></li>
										<li><a href="{{ site.baseurl }}/x230s" id="ComingSoon" title="Coming Soon">X230s</a></li>
										<li><a href="{{ site.baseurl }}/x240" id="ComingSoon" title="Coming Soon">X240</a></li>
										<li><a href="{{ site.baseurl }}/x240s" id="ComingSoon" title="Coming Soon">X240s</a></li>
										<li><a href="{{ site.baseurl }}/x250" id="ComingSoon" title="Coming Soon">X250</a></li>
										<li><a href="{{ site.baseurl }}/x260" id="ComingSoon" title="Coming Soon">X260</a></li>
										<li><a href="{{ site.baseurl }}/x270" id="ComingSoon" title="Coming Soon">X270</a></li>
										<li><a href="{{ site.baseurl }}/x280" id="ComingSoon" title="Coming Soon">X280</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X200 Tablet Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/x200t" id="ComingSoon" title="Coming Soon">X200 Tablet</a></li>
										<li><a href="{{ site.baseurl }}/x201t" id="ComingSoon" title="Coming Soon">X201 Tablet</a></li>
										<li><a href="{{ site.baseurl }}/x220t" id="ComingSoon" title="Coming Soon">X220/X220i Tablet</a></li>
										<li><a href="{{ site.baseurl }}/x230t" id="ComingSoon" title="Coming Soon">X230/X230i Tablet</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X300 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/x300" id="ComingSoon" title="Coming Soon">X300</a></li>
										<li><a href="{{ site.baseurl }}/x301" id="ComingSoon" title="Coming Soon">X301</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X1 Carbon</a>
									<ul>
										<li><a href="{{ site.baseurl }}/x1c1" id="ComingSoon" title="Coming Soon">X1 Carbon 1st Gen</a></li>
										<li><a href="{{ site.baseurl }}/x1c2" id="ComingSoon" title="Coming Soon">X1 Carbon 2nd Gen</a></li>
										<li><a href="{{ site.baseurl }}/x1c3" id="ComingSoon" title="Coming Soon">X1 Carbon 3rd Gen</a></li>
										<li><a href="{{ site.baseurl }}/x1c4" id="ComingSoon" title="Coming Soon">X1 Carbon 4th Gen</a></li>
										<li><a href="{{ site.baseurl }}/x1c5" id="ComingSoon" title="Coming Soon">X1 Carbon 5th Gen</a></li>
										<li><a href="{{ site.baseurl }}/x1c6" id="ComingSoon" title="Coming Soon">X1 Carbon 6th Gen</a></li>
									</ul>
								</li>
								<li>
									<a href="{{ site.baseurl }}/x1e" id="ComingSoon" title="Coming Soon">X1 Extreme</a>
								</li>
								<li class="submenu">
									<a href="">X1 Yoga</a>
									<ul>
										<li><a href="{{ site.baseurl }}/x1y1" id="ComingSoon" title="Coming Soon">X1 Yoga 1st Gen</a></li>
										<li><a href="{{ site.baseurl }}/x1y2" id="ComingSoon" title="Coming Soon">X1 Yoga 2nd Gen</a></li>
										<li><a href="{{ site.baseurl }}/x1y3" id="ComingSoon" title="Coming Soon">X1 Yoga 3rd Gen</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="{{ site.baseurl }}/p" title="Mobile Workstations">P series</i></a>
							<ul>
								<li class="submenu">
									<a href="">P50 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/p50" id="ComingSoon" title="Coming Soon">P50</a></li>
										<li><a href="{{ site.baseurl }}/p51" id="ComingSoon" title="Coming Soon">P51</a></li>
										<li><a href="{{ site.baseurl }}/p51s" id="ComingSoon" title="Coming Soon">P51s</a></li>
										<li><a href="{{ site.baseurl }}/p52" id="ComingSoon" title="Coming Soon">P52</a></li>
										<li><a href="{{ site.baseurl }}/p52s" id="ComingSoon" title="Coming Soon">P52s</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">P70 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/p70" id="ComingSoon" title="Coming Soon">P70</a></li>
										<li><a href="{{ site.baseurl }}/p71" id="ComingSoon" title="Coming Soon">P71</a></li>
										<li><a href="{{ site.baseurl }}/p72" id="ComingSoon" title="Coming Soon">P72</a></li>
									</ul>
								</li>
								<li>
									<a href="{{ site.baseurl }}/p1" id="ComingSoon" title="Coming Soon">P1</a>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="{{ site.baseurl }}/a" title="AMD-powered T series">A series</i></a>
							<ul>
								<li class="submenu">
									<a href="">A200 series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/a275" id="ComingSoon" title="Coming Soon">A275</a></li>
										<li><a href="{{ site.baseurl }}/a285" id="ComingSoon" title="Coming Soon">A285</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">A400 series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/a475" id="ComingSoon" title="Coming Soon">A475</a></li>
										<li><a href="{{ site.baseurl }}/a485" id="ComingSoon" title="Coming Soon">A485</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="{{ site.baseurl }}/e" title="Stylish Work Laptops">E series</i></a>
							<ul>
								<li class="submenu">
									<a href="">8th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/e480" id="ComingSoon" title="Coming Soon">E480</a></li>
										<li><a href="{{ site.baseurl }}/e485" id="ComingSoon" title="Coming Soon">E485</a></li>
										<li><a href="{{ site.baseurl }}/e580" id="ComingSoon" title="Coming Soon">E580</a></li>
										<li><a href="{{ site.baseurl }}/e585" id="ComingSoon" title="Coming Soon">E585</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">7th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/e470" id="ComingSoon" title="Coming Soon">E470</a></li>
										<li><a href="{{ site.baseurl }}/e475" id="ComingSoon" title="Coming Soon">E475</a></li>
										<li><a href="{{ site.baseurl }}/e570" id="ComingSoon" title="Coming Soon">E570</a></li>
										<li><a href="{{ site.baseurl }}/e575" id="ComingSoon" title="Coming Soon">E575</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">6th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/e460" id="ComingSoon" title="Coming Soon">E460</a></li>
										<li><a href="{{ site.baseurl }}/e465" id="ComingSoon" title="Coming Soon">E465</a></li>
										<li><a href="{{ site.baseurl }}/e560" id="ComingSoon" title="Coming Soon">E560</a></li>
										<li><a href="{{ site.baseurl }}/e565" id="ComingSoon" title="Coming Soon">E565</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">5th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/e450" id="ComingSoon" title="Coming Soon">E450</a></li>
										<li><a href="{{ site.baseurl }}/e455" id="ComingSoon" title="Coming Soon">E455</a></li>
										<li><a href="{{ site.baseurl }}/e550" id="ComingSoon" title="Coming Soon">E550</a></li>
										<li><a href="{{ site.baseurl }}/e555" id="ComingSoon" title="Coming Soon">E555</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">4th Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/e440" id="ComingSoon" title="Coming Soon">E440</a></li>
										<li><a href="{{ site.baseurl }}/e445" id="ComingSoon" title="Coming Soon">E445</a></li>
										<li><a href="{{ site.baseurl }}/e540" id="ComingSoon" title="Coming Soon">E540</a></li>
										<li><a href="{{ site.baseurl }}/e545" id="ComingSoon" title="Coming Soon">E545</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">3rd Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/e130" id="ComingSoon" title="Coming Soon">E130</a></li>
										<li><a href="{{ site.baseurl }}/e135" id="ComingSoon" title="Coming Soon">E135</a></li>
										<li><a href="{{ site.baseurl }}/e330" id="ComingSoon" title="Coming Soon">E330</a></li>
										<li><a href="{{ site.baseurl }}/e335" id="ComingSoon" title="Coming Soon">E335</a></li>
										<li><a href="{{ site.baseurl }}/e430" id="ComingSoon" title="Coming Soon">E430</a></li>
										<li><a href="{{ site.baseurl }}/e431" id="ComingSoon" title="Coming Soon">E431</a></li>
										<li><a href="{{ site.baseurl }}/e435" id="ComingSoon" title="Coming Soon">E435</a></li>
										<li><a href="{{ site.baseurl }}/e530" id="ComingSoon" title="Coming Soon">E530</a></li>
										<li><a href="{{ site.baseurl }}/e535" id="ComingSoon" title="Coming Soon">E535</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">2nd Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/e120" id="ComingSoon" title="Coming Soon">E120</a></li>
										<li><a href="{{ site.baseurl }}/e220" id="ComingSoon" title="Coming Soon">E220</a></li>
										<li><a href="{{ site.baseurl }}/e220s" id="ComingSoon" title="Coming Soon">E220S</a></li>
										<li><a href="{{ site.baseurl }}/e420" id="ComingSoon" title="Coming Soon">E420</a></li>
										<li><a href="{{ site.baseurl }}/e420s" id="ComingSoon" title="Coming Soon">E420s</a></li>
										<li><a href="{{ site.baseurl }}/e425" id="ComingSoon" title="Coming Soon">E425</a></li>
										<li><a href="{{ site.baseurl }}/e520" id="ComingSoon" title="Coming Soon">E520</a></li>
										<li><a href="{{ site.baseurl }}/e525" id="ComingSoon" title="Coming Soon">E525</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="{{ site.baseurl }}/l" title="Affordable Devices">L series</i></a>
							<ul>
								<li class="submenu">
									<a href="">L400 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/l410" id="ComingSoon" title="Coming Soon">L410</a></li>
										<li><a href="{{ site.baseurl }}/l412" id="ComingSoon" title="Coming Soon">L412</a></li>
										<li><a href="{{ site.baseurl }}/l420" id="ComingSoon" title="Coming Soon">L420</a></li>
										<li><a href="{{ site.baseurl }}/l421" id="ComingSoon" title="Coming Soon">L421</a></li>
										<li><a href="{{ site.baseurl }}/l440" id="ComingSoon" title="Coming Soon">L430</a></li>
										<li><a href="{{ site.baseurl }}/l440" id="ComingSoon" title="Coming Soon">L440</a></li>
										<li><a href="{{ site.baseurl }}/l450" id="ComingSoon" title="Coming Soon">L450</a></li>
										<li><a href="{{ site.baseurl }}/l460" id="ComingSoon" title="Coming Soon">L460</a></li>
										<li><a href="{{ site.baseurl }}/l470" id="ComingSoon" title="Coming Soon">L470</a></li>
										<li><a href="{{ site.baseurl }}/l480" id="ComingSoon" title="Coming Soon">L480</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">L500 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/l510" id="ComingSoon" title="Coming Soon">L510</a></li>
										<li><a href="{{ site.baseurl }}/l512" id="ComingSoon" title="Coming Soon">L512</a></li>
										<li><a href="{{ site.baseurl }}/l520" id="ComingSoon" title="Coming Soon">L520</a></li>
										<li><a href="{{ site.baseurl }}/l530" id="ComingSoon" title="Coming Soon">L530</a></li>
										<li><a href="{{ site.baseurl }}/l540" id="ComingSoon" title="Coming Soon">L540</a></li>
										<li><a href="{{ site.baseurl }}/l560" id="ComingSoon" title="Coming Soon">L560</a></li>
										<li><a href="{{ site.baseurl }}/l570" id="ComingSoon" title="Coming Soon">L570</a></li>
										<li><a href="{{ site.baseurl }}/l580" id="ComingSoon" title="Coming Soon">L580</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="">Misc &nbsp; <i class="fa fa-angle-down"></i></a>
							<ul>
								<li class="submenu">
									<a href="">W Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/w500" id="ComingSoon" title="Coming Soon">W500</a></li>
										<li><a href="{{ site.baseurl }}/w510" id="ComingSoon" title="Coming Soon">W510</a></li>
										<li><a href="{{ site.baseurl }}/w520" id="ComingSoon" title="Coming Soon">W520</a></li>
										<li><a href="{{ site.baseurl }}/w530" id="ComingSoon" title="Coming Soon">W530</a></li>
										<li><a href="{{ site.baseurl }}/w540" id="ComingSoon" title="Coming Soon">W540</a></li>
										<li><a href="{{ site.baseurl }}/w541" id="ComingSoon" title="Coming Soon">W541</a></li>
										<li><a href="{{ site.baseurl }}/w550s" id="ComingSoon" title="Coming Soon">W550s</a></li>
										<li><a href="{{ site.baseurl }}/w700" id="ComingSoon" title="Coming Soon">W700</a></li>
										<li><a href="{{ site.baseurl }}/w700ds" id="ComingSoon" title="Coming Soon">W700ds</a></li>
										<li><a href="{{ site.baseurl }}/w701" id="ComingSoon" title="Coming Soon">W701</a></li>
										<li><a href="{{ site.baseurl }}/w701ds" id="ComingSoon" title="Coming Soon">W701ds</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">R Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/r400" id="ComingSoon" title="Coming Soon">R400</a></li>
										<li><a href="{{ site.baseurl }}/r500" id="ComingSoon" title="Coming Soon">R500</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">S Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/s430" id="ComingSoon" title="Coming Soon">S430</a></li>
										<li><a href="{{ site.baseurl }}/s440" id="ComingSoon" title="Coming Soon">S440</a></li>
										<li><a href="{{ site.baseurl }}/s440t" id="ComingSoon" title="Coming Soon">S440t</a></li>
										<li><a href="{{ site.baseurl }}/s540" id="ComingSoon" title="Coming Soon">S540</a></li>
										<li><a href="{{ site.baseurl }}/s540t" id="ComingSoon" title="Coming Soon">S540t</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">SL Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/sl300" id="ComingSoon" title="Coming Soon">SL300</a></li>
										<li><a href="{{ site.baseurl }}/sl400" id="ComingSoon" title="Coming Soon">SL400</a></li>
										<li><a href="{{ site.baseurl }}/sl400c" id="ComingSoon" title="Coming Soon">SL400c</a></li>
										<li><a href="{{ site.baseurl }}/sl410" id="ComingSoon" title="Coming Soon">SL410</a></li>
										<li><a href="{{ site.baseurl }}/sl500" id="ComingSoon" title="Coming Soon">SL500</a></li>
										<li><a href="{{ site.baseurl }}/sl500c" id="ComingSoon" title="Coming Soon">SL500c</a></li>
										<li><a href="{{ site.baseurl }}/sl510" id="ComingSoon" title="Coming Soon">SL510</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">Edge series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/edge11" id="ComingSoon" title="Coming Soon">Edge 11"</a></li>
										<li><a href="{{ site.baseurl }}/edge13" id="ComingSoon" title="Coming Soon">Edge 13"</a></li>
										<li><a href="{{ site.baseurl }}/edge14" id="ComingSoon" title="Coming Soon">Edge 14"</a></li>
										<li><a href="{{ site.baseurl }}/edge15" id="ComingSoon" title="Coming Soon">Edge 15"</a></li>
										<li><a href="{{ site.baseurl }}/edgetwist" id="ComingSoon" title="Coming Soon">Edge Twist</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">ThinkPad 11e</a>
									<ul>
										<li><a href="{{ site.baseurl }}/11e1" id="ComingSoon" title="Coming Soon">1st Gen</a></li>
										<li><a href="{{ site.baseurl }}/11e2" id="ComingSoon" title="Coming Soon">2nd Gen</a></li>
										<li><a href="{{ site.baseurl }}/11e3" id="ComingSoon" title="Coming Soon">3rd Gen</a></li>
										<li><a href="{{ site.baseurl }}/11e4" id="ComingSoon" title="Coming Soon">4th Gen</a></li>
										<li><a href="{{ site.baseurl }}/11e5" id="ComingSoon" title="Coming Soon">5th Gen</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">ThinkPad 13</a>
									<ul>
										<li><a href="{{ site.baseurl }}/13g1" id="ComingSoon" title="Coming Soon">1st Gen</a></li>
										<li><a href="{{ site.baseurl }}/13g2" id="ComingSoon" title="Coming Soon">2nd Gen</a></li>
										<li><a href="{{ site.baseurl }}/13c" id="ComingSoon" title="Coming Soon">Chromebook</a></li>
									</ul>
								</li>
								<li>
									<a href="{{ site.baseurl }}/t25" title="25th Anniversary Edition" id="ComingSoon">ThinkPad 25</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/helix" id="ComingSoon" title="Coming Soon">Helix</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/twist" id="ComingSoon" title="Coming Soon">Twist</a>
								</li>
								<li class="submenu">
									<a href="">Yoga</a>
									<ul>
										<li><a href="{{ site.baseurl }}/l380y" id="ComingSoon" title="Coming Soon">L380 Yoga</a></li>
										<li><a href="{{ site.baseurl }}/x380y" id="ComingSoon" title="Coming Soon">X380 Yoga</a></li>
										<li><a href="{{ site.baseurl }}/y260" id="ComingSoon" title="Coming Soon">Yoga 260</a></li>
										<li><a href="{{ site.baseurl }}/y370" id="ComingSoon" title="Coming Soon">Yoga 370</a></li>
										<li class="submenu">
											<a href="" title="">Yoga 11e</a>
											<ul>
												<li><a href="{{ site.baseurl }}/y11e1" id="ComingSoon" title="Coming Soon">1st Gen</a></li>
												<li><a href="{{ site.baseurl }}/y11e2" id="ComingSoon" title="Coming Soon">2nd Gen</a></li>
												<li><a href="{{ site.baseurl }}/y11e3" id="ComingSoon" title="Coming Soon">3rd Gen</a></li>
												<li><a href="{{ site.baseurl }}/y11e4" id="ComingSoon" title="Coming Soon">4th Gen</a></li>
												<li><a href="{{ site.baseurl }}/y11e5" id="ComingSoon" title="Coming Soon">5th Gen</a></li>
											</ul>
										</li>
										<li><a href="{{ site.baseurl }}/p40y" id="ComingSoon" title="Coming Soon">P40 Yoga</a></li>
										<li><a href="{{ site.baseurl }}/y14" id="ComingSoon" title="Coming Soon">Yoga 14</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="{{ site.baseurl }}/51nb" title="Custom 3rd Party Refreshes">51nb</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t50" id="ComingSoon" title="Coming Soon">T50</a></li>
										<li><a href="{{ site.baseurl }}/t70" id="ComingSoon" title="Coming Soon">T70</a></li>
										<li><a href="{{ site.baseurl }}/x62" id="ComingSoon" title="Coming Soon">X62</a></li>
										<li><a href="{{ site.baseurl }}/x210" id="ComingSoon" title="Coming Soon">X210</a></li>
										<li><a href="{{ site.baseurl }}/x230p" id="ComingSoon" title="Coming Soon">X230p</a></li>
										<li><a href="{{ site.baseurl }}/x330p" id="ComingSoon" title="Coming Soon">X330p</a></li>
									</ul>
								</li>
								
							</ul>
						</li>
						<li class="submenu">
							<a href="">IBM models</a>
							<ul>
								<li class="submenu">
									<a href="" title="Workstation machines">A Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/a20m" id="ComingSoon" title="Coming Soon">A20m</a></li>
										<li><a href="{{ site.baseurl }}/a20p" id="ComingSoon" title="Coming Soon">A20p</a></li>
										<li><a href="{{ site.baseurl }}/a21e" id="ComingSoon" title="Coming Soon">A21e</a></li>
										<li><a href="{{ site.baseurl }}/a21m" id="ComingSoon" title="Coming Soon">A21m</a></li>
										<li><a href="{{ site.baseurl }}/a21p" id="ComingSoon" title="Coming Soon">A21p</a></li>
										<li><a href="{{ site.baseurl }}/a22e" id="ComingSoon" title="Coming Soon">A22e</a></li>
										<li><a href="{{ site.baseurl }}/a22m" id="ComingSoon" title="Coming Soon">A22m</a></li>
										<li><a href="{{ site.baseurl }}/a22p" id="ComingSoon" title="Coming Soon">A22p</a></li>
										<li><a href="{{ site.baseurl }}/a30" id="ComingSoon" title="Coming Soon">A30</a></li>
										<li><a href="{{ site.baseurl }}/a30p" id="ComingSoon" title="Coming Soon">A30p</a></li>
										<li><a href="{{ site.baseurl }}/a31" id="ComingSoon" title="Coming Soon">A31</a></li>
										<li><a href="{{ site.baseurl }}/a31p" id="ComingSoon" title="Coming Soon">A31p</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Desktop replacements">G Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/g40" id="ComingSoon" title="Coming Soon">G40</a></li>
										<li><a href="{{ site.baseurl }}/g41" id="ComingSoon" title="Coming Soon">G41</a></li>
										<li><a href="{{ site.baseurl }}/g50" id="ComingSoon" title="Coming Soon">G50</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Budget laptops">R Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/r30" id="ComingSoon" title="Coming Soon">R30</a></li>
										<li><a href="{{ site.baseurl }}/r31" id="ComingSoon" title="Coming Soon">R31</a></li>
										<li><a href="{{ site.baseurl }}/r32" id="ComingSoon" title="Coming Soon">R32</a></li>
										<li><a href="{{ site.baseurl }}/r40" id="ComingSoon" title="Coming Soon">R40</a></li>
										<li><a href="{{ site.baseurl }}/r40e" id="ComingSoon" title="Coming Soon">R40e</a></li>
										<li><a href="{{ site.baseurl }}/r50" id="ComingSoon" title="Coming Soon">R50</a></li>
										<li><a href="{{ site.baseurl }}/r50e" id="ComingSoon" title="Coming Soon">R50e</a></li>
										<li><a href="{{ site.baseurl }}/r50p" id="ComingSoon" title="Coming Soon">R50p</a></li>
										<li><a href="{{ site.baseurl }}/r51" id="ComingSoon" title="Coming Soon">R51</a></li>
										<li><a href="{{ site.baseurl }}/r51e" id="ComingSoon" title="Coming Soon">R51e</a></li>
										<li><a href="{{ site.baseurl }}/r52" id="ComingSoon" title="Coming Soon">R52</a></li>
										<li><a href="{{ site.baseurl }}/r60" id="ComingSoon" title="Coming Soon">R60</a></li>
										<li><a href="{{ site.baseurl }}/r60e" id="ComingSoon" title="Coming Soon">R60e</a></li>
										<li><a href="{{ site.baseurl }}/r61" id="ComingSoon" title="Coming Soon">R61</a></li>
										<li><a href="{{ site.baseurl }}/r61e" id="ComingSoon" title="Coming Soon">R61e</a></li>
										<li><a href="{{ site.baseurl }}/r61i" id="ComingSoon" title="Coming Soon">R61i</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="All-around devices">T Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t20" id="ComingSoon" title="Coming Soon">T20</a></li>
										<li><a href="{{ site.baseurl }}/t21" id="ComingSoon" title="Coming Soon">T21</a></li>
										<li><a href="{{ site.baseurl }}/t22" id="ComingSoon" title="Coming Soon">T22</a></li>
										<li><a href="{{ site.baseurl }}/t23" id="ComingSoon" title="Coming Soon">T23</a></li>
										<li><a href="{{ site.baseurl }}/t30" id="ComingSoon" title="Coming Soon">T30</a></li>
										<li><a href="{{ site.baseurl }}/t40" id="ComingSoon" title="Coming Soon">T40</a></li>
										<li><a href="{{ site.baseurl }}/t40p" id="ComingSoon" title="Coming Soon">T40p</a></li>
										<li><a href="{{ site.baseurl }}/t41" id="ComingSoon" title="Coming Soon">T41</a></li>
										<li><a href="{{ site.baseurl }}/t41p" id="ComingSoon" title="Coming Soon">T41p</a></li>
										<li><a href="{{ site.baseurl }}/t42" id="ComingSoon" title="Coming Soon">T42</a></li>
										<li><a href="{{ site.baseurl }}/t42p" id="ComingSoon" title="Coming Soon">T42p</a></li>
										<li><a href="{{ site.baseurl }}/t43" id="ComingSoon" title="Coming Soon">T43</a></li>
										<li><a href="{{ site.baseurl }}/t43p" id="ComingSoon" title="Coming Soon">T43p</a></li>
										<li><a href="{{ site.baseurl }}/t60" id="ComingSoon" title="Coming Soon">T60</a></li>
										<li><a href="{{ site.baseurl }}/t60p" id="ComingSoon" title="Coming Soon">T60p</a></li>
										<li><a href="{{ site.baseurl }}/t61" id="ComingSoon" title="Coming Soon">T61</a></li>
										<li><a href="{{ site.baseurl }}/t61p" id="ComingSoon" title="Coming Soon">T61p</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Multimedia laptops">Z Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/z60m" id="ComingSoon" title="Coming Soon">Z60m</a></li>
										<li><a href="{{ site.baseurl }}/z60t" id="ComingSoon" title="Coming Soon">Z60t</a></li>
										<li><a href="{{ site.baseurl }}/z61e" id="ComingSoon" title="Coming Soon">Z61e</a></li>
										<li><a href="{{ site.baseurl }}/z61m" id="ComingSoon" title="Coming Soon">Z61m</a></li>
										<li><a href="{{ site.baseurl }}/z61p" id="ComingSoon" title="Coming Soon">Z61p</a></li>
										<li><a href="{{ site.baseurl }}/z61t" id="ComingSoon" title="Coming Soon">Z61t</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Classic netbooks">200 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/220" id="ComingSoon" title="Coming Soon">220</a></li>
										<li><a href="{{ site.baseurl }}/230" id="ComingSoon" title="Coming Soon">230</a></li>
										<li><a href="{{ site.baseurl }}/230cs" id="ComingSoon" title="Coming Soon">230Cs</a></li>
										<li><a href="{{ site.baseurl }}/235" id="ComingSoon" title="Coming Soon">235</a></li>
										<li><a href="{{ site.baseurl }}/240" id="ComingSoon" title="Coming Soon">240</a></li>
										<li><a href="{{ site.baseurl }}/240x" id="ComingSoon" title="Coming Soon">240X</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Classic mid-range models">300 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/300" id="ComingSoon" title="Coming Soon">300</a></li>
										<li><a href="{{ site.baseurl }}/300c" id="ComingSoon" title="Coming Soon">300c</a></li>
										<li><a href="{{ site.baseurl }}/310" id="ComingSoon" title="Coming Soon">310</a></li>
										<li><a href="{{ site.baseurl }}/310d" id="ComingSoon" title="Coming Soon">310D</a></li>
										<li><a href="{{ site.baseurl }}/310e" id="ComingSoon" title="Coming Soon">310E</a></li>
										<li><a href="{{ site.baseurl }}/310ed" id="ComingSoon" title="Coming Soon">310ED</a></li>
										<li><a href="{{ site.baseurl }}/315d" id="ComingSoon" title="Coming Soon">315D</a></li>
										<li><a href="{{ site.baseurl }}/320" id="ComingSoon" title="Coming Soon">320</a></li>
										<li><a href="{{ site.baseurl }}/330c" id="ComingSoon" title="Coming Soon">330C</a></li>
										<li><a href="{{ site.baseurl }}/330cs" id="ComingSoon" title="Coming Soon">330Cs</a></li>
										<li><a href="{{ site.baseurl }}/340" id="ComingSoon" title="Coming Soon">340</a></li>
										<li><a href="{{ site.baseurl }}/340cs" id="ComingSoon" title="Coming Soon">340CSE</a></li>
										<li><a href="{{ site.baseurl }}/345c" id="ComingSoon" title="Coming Soon">345C</a></li>
										<li><a href="{{ site.baseurl }}/345cs" id="ComingSoon" title="Coming Soon">345CS</a></li>
										<li><a href="{{ site.baseurl }}/350" id="ComingSoon" title="Coming Soon">350</a></li>
										<li><a href="{{ site.baseurl }}/350c" id="ComingSoon" title="Coming Soon">350C</a></li>
										<li><a href="{{ site.baseurl }}/355" id="ComingSoon" title="Coming Soon">355</a></li>
										<li><a href="{{ site.baseurl }}/355c" id="ComingSoon" title="Coming Soon">355C</a></li>
										<li><a href="{{ site.baseurl }}/355cs" id="ComingSoon" title="Coming Soon">355Cs</a></li>
										<li><a href="{{ site.baseurl }}/360" id="ComingSoon" title="Coming Soon">360</a></li>
										<li><a href="{{ site.baseurl }}/360c" id="ComingSoon" title="Coming Soon">360C</a></li>
										<li><a href="{{ site.baseurl }}/360ce" id="ComingSoon" title="Coming Soon">360CE</a></li>
										<li><a href="{{ site.baseurl }}/360cs" id="ComingSoon" title="Coming Soon">360Cs</a></li>
										<li><a href="{{ site.baseurl }}/360cs" id="ComingSoon" title="Coming Soon">360CSE</a></li>
										<li><a href="{{ site.baseurl }}/360p" id="ComingSoon" title="Coming Soon">360P</a></li>
										<li><a href="{{ site.baseurl }}/360pe" id="ComingSoon" title="Coming Soon">360PE</a></li>
										<li><a href="{{ site.baseurl }}/365" id="ComingSoon" title="Coming Soon">365</a></li>
										<li><a href="{{ site.baseurl }}/365cd" id="ComingSoon" title="Coming Soon">365CD</a></li>
										<li><a href="{{ site.baseurl }}/365cs" id="ComingSoon" title="Coming Soon">365CS</a></li>
										<li><a href="{{ site.baseurl }}/365cs" id="ComingSoon" title="Coming Soon">365CSD</a></li>
										<li><a href="{{ site.baseurl }}/365e" id="ComingSoon" title="Coming Soon">365E</a></li>
										<li><a href="{{ site.baseurl }}/365ed" id="ComingSoon" title="Coming Soon">365ED</a></li>
										<li><a href="{{ site.baseurl }}/365x" id="ComingSoon" title="Coming Soon">365X</a></li>
										<li><a href="{{ site.baseurl }}/365xd" id="ComingSoon" title="Coming Soon">365XD</a></li>
										<li><a href="{{ site.baseurl }}/370c" id="ComingSoon" title="Coming Soon">370C</a></li>
										<li><a href="{{ site.baseurl }}/380" id="ComingSoon" title="Coming Soon">380</a></li>
										<li><a href="{{ site.baseurl }}/380d" id="ComingSoon" title="Coming Soon">380D</a></li>
										<li><a href="{{ site.baseurl }}/380e" id="ComingSoon" title="Coming Soon">380E</a></li>
										<li><a href="{{ site.baseurl }}/380ed" id="ComingSoon" title="Coming Soon">380ED</a></li>
										<li><a href="{{ site.baseurl }}/380xd" id="ComingSoon" title="Coming Soon">380XD</a></li>
										<li><a href="{{ site.baseurl }}/380z" id="ComingSoon" title="Coming Soon">380Z</a></li>
										<li><a href="{{ site.baseurl }}/385d" id="ComingSoon" title="Coming Soon">385D</a></li>
										<li><a href="{{ site.baseurl }}/385ed" id="ComingSoon" title="Coming Soon">385ED</a></li>
										<li><a href="{{ site.baseurl }}/385xd" id="ComingSoon" title="Coming Soon">385XD</a></li>
										<li><a href="{{ site.baseurl }}/390" id="ComingSoon" title="Coming Soon">390</a></li>
										<li><a href="{{ site.baseurl }}/390e" id="ComingSoon" title="Coming Soon">390E</a></li>
										<li><a href="{{ site.baseurl }}/390x" id="ComingSoon" title="Coming Soon">390X</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Classic ultraportable models">500 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/500" id="ComingSoon" title="Coming Soon">500</a></li>
										<li><a href="{{ site.baseurl }}/500cs" id="ComingSoon" title="Coming Soon">500Cs</a></li>
										<li><a href="{{ site.baseurl }}/530" id="ComingSoon" title="Coming Soon">530</a></li>
										<li><a href="{{ site.baseurl }}/530cs" id="ComingSoon" title="Coming Soon">530Cs</a></li>
										<li><a href="{{ site.baseurl }}/535" id="ComingSoon" title="Coming Soon">535</a></li>
										<li><a href="{{ site.baseurl }}/535e" id="ComingSoon" title="Coming Soon">535E</a></li>
										<li><a href="{{ site.baseurl }}/535x" id="ComingSoon" title="Coming Soon">535X</a></li>
										<li><a href="{{ site.baseurl }}/550bj" id="ComingSoon" title="Coming Soon">550BJ</a></li>
										<li><a href="{{ site.baseurl }}/555bj" id="ComingSoon" title="Coming Soon">555BJ</a></li>
										<li><a href="{{ site.baseurl }}/560" id="ComingSoon" title="Coming Soon">560</a></li>
										<li><a href="{{ site.baseurl }}/560e" id="ComingSoon" title="Coming Soon">560E</a></li>
										<li><a href="{{ site.baseurl }}/560x" id="ComingSoon" title="Coming Soon">560X</a></li>
										<li><a href="{{ site.baseurl }}/560z" id="ComingSoon" title="Coming Soon">560Z</a></li>
										<li><a href="{{ site.baseurl }}/570z" id="ComingSoon" title="Coming Soon">570Z</a></li>
										<li><a href="{{ site.baseurl }}/570e" id="ComingSoon" title="Coming Soon">570E</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Classic slimline models">600 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/600" id="ComingSoon" title="Coming Soon">600</a></li>
										<li><a href="{{ site.baseurl }}/600d" id="ComingSoon" title="Coming Soon">600D</a></li>
										<li><a href="{{ site.baseurl }}/600e" id="ComingSoon" title="Coming Soon">600E</a></li>
										<li><a href="{{ site.baseurl }}/600x" id="ComingSoon" title="Coming Soon">600X</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Classic high-end models">700 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/700" id="ComingSoon" title="Coming Soon">700</a></li>
										<li><a href="{{ site.baseurl }}/700c" id="ComingSoon" title="Coming Soon">700C</a></li>
										<li><a href="{{ site.baseurl }}/700t" id="ComingSoon" title="Coming Soon">700T</a></li>
										<li><a href="{{ site.baseurl }}/701c" id="ComingSoon" title="Coming Soon">701C</a></li>
										<li><a href="{{ site.baseurl }}/701cs" id="ComingSoon" title="Coming Soon">701CS</a></li>
										<li><a href="{{ site.baseurl }}/710t" id="ComingSoon" title="Coming Soon">710T</a></li>
										<li><a href="{{ site.baseurl }}/720" id="ComingSoon" title="Coming Soon">720</a></li>
										<li><a href="{{ site.baseurl }}/720c" id="ComingSoon" title="Coming Soon">720C</a></li>
										<li><a href="{{ site.baseurl }}/730t" id="ComingSoon" title="Coming Soon">730T</a></li>
										<li><a href="{{ site.baseurl }}/730te" id="ComingSoon" title="Coming Soon">730TE</a></li>
										<li><a href="{{ site.baseurl }}/750" id="ComingSoon" title="Coming Soon">750</a></li>
										<li><a href="{{ site.baseurl }}/750c" id="ComingSoon" title="Coming Soon">750C</a></li>
										<li><a href="{{ site.baseurl }}/750cs" id="ComingSoon" title="Coming Soon">750Cs</a></li>
										<li><a href="{{ site.baseurl }}/750p" id="ComingSoon" title="Coming Soon">750P</a></li>
										<li><a href="{{ site.baseurl }}/755c" id="ComingSoon" title="Coming Soon">755C</a></li>
										<li><a href="{{ site.baseurl }}/755cd" id="ComingSoon" title="Coming Soon">755CD</a></li>
										<li><a href="{{ site.baseurl }}/755cdv" id="ComingSoon" title="Coming Soon">755CDV</a></li>
										<li><a href="{{ site.baseurl }}/755ce" id="ComingSoon" title="Coming Soon">755CE</a></li>
										<li><a href="{{ site.baseurl }}/755cs" id="ComingSoon" title="Coming Soon">755Cs</a></li>
										<li><a href="{{ site.baseurl }}/755cse" id="ComingSoon" title="Coming Soon">755CSE</a></li>
										<li><a href="{{ site.baseurl }}/755cv" id="ComingSoon" title="Coming Soon">755CV</a></li>
										<li><a href="{{ site.baseurl }}/755cx" id="ComingSoon" title="Coming Soon">755CX</a></li>
										<li><a href="{{ site.baseurl }}/760c" id="ComingSoon" title="Coming Soon">760C</a></li>
										<li><a href="{{ site.baseurl }}/760cd" id="ComingSoon" title="Coming Soon">760CD</a></li>
										<li><a href="{{ site.baseurl }}/760e" id="ComingSoon" title="Coming Soon">760E</a></li>
										<li><a href="{{ site.baseurl }}/760ed" id="ComingSoon" title="Coming Soon">760ED</a></li>
										<li><a href="{{ site.baseurl }}/760el" id="ComingSoon" title="Coming Soon">760EL</a></li>
										<li><a href="{{ site.baseurl }}/760eld" id="ComingSoon" title="Coming Soon">760ELD</a></li>
										<li><a href="{{ site.baseurl }}/760l" id="ComingSoon" title="Coming Soon">760L</a></li>
										<li><a href="{{ site.baseurl }}/760ld" id="ComingSoon" title="Coming Soon">760LD</a></li>
										<li><a href="{{ site.baseurl }}/760xd" id="ComingSoon" title="Coming Soon">760XD</a></li>
										<li><a href="{{ site.baseurl }}/760xl" id="ComingSoon" title="Coming Soon">760XL</a></li>
										<li><a href="{{ site.baseurl }}/765d" id="ComingSoon" title="Coming Soon">765D</a></li>
										<li><a href="{{ site.baseurl }}/765l" id="ComingSoon" title="Coming Soon">765L</a></li>
										<li><a href="{{ site.baseurl }}/770" id="ComingSoon" title="Coming Soon">770</a></li>
										<li><a href="{{ site.baseurl }}/770d" id="ComingSoon" title="Coming Soon">770D</a></li>
										<li><a href="{{ site.baseurl }}/770e" id="ComingSoon" title="Coming Soon">770E</a></li>
										<li><a href="{{ site.baseurl }}/770ed" id="ComingSoon" title="Coming Soon">770ED</a></li>
										<li><a href="{{ site.baseurl }}/770x" id="ComingSoon" title="Coming Soon">770X</a></li>
										<li><a href="{{ site.baseurl }}/770z" id="ComingSoon" title="Coming Soon">770Z</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="Classic PowerPC models">800 Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/800" id="ComingSoon" title="Coming Soon">800</a></li>
										<li><a href="{{ site.baseurl }}/820" id="ComingSoon" title="Coming Soon">820</a></li>
										<li><a href="{{ site.baseurl }}/850" id="ComingSoon" title="Coming Soon">850</a></li>
										<li><a href="{{ site.baseurl }}/860" id="ComingSoon" title="Coming Soon">860</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" title="">Other Series</a>
									<ul>
										<li><a href="{{ site.baseurl }}/iseries" title="TP-branded laptops by Acer" id="ComingSoon">iSeries</a></li>
										<li><a href="{{ site.baseurl }}/pc110" title="Palm-top model" id="ComingSoon">PC110</a></li>
										<li><a href="{{ site.baseurl }}/transnote" title="Note-taking companion" id="ComingSoon">TransNote</a></li>
									</ul>
								</li>
								
							</ul>
						</li>
						<!-- <li><a href="{{ site.baseurl }}/" class="button special">Sign Up</a></li> -->
					</ul>
				</nav>
			</header>