---
layout: model
title: T430
model: t430
permalink: /t430/
---
{% for model in site.data.t430.info %}

		<!-- Main -->
			<article id="main">
					
				<!-- One -->
					<section class="wrapper style4 container">
						<div class="row oneandhalf">
							<div class="8u">
								
								<!-- Content -->
									<div class="content">
										<section>
											<header><h2 id="Model">{{ model.name }}</h2></header>
											{% include t430/summary.txt %}
										</section>
									</div>
	
							</div>
							<div class="4u">
								
								<div class="sidebar" id="titlecard">
									<section>
										<header>
											<h1>ThinkPad {{model.abbreviation}}</h1>
											<a href=""><img src="/assets/models/{{ page.model }}.png" alt="" class="image" /></a>
										</header>
												<table>
													<tbody>
														<tr>
															<td class="Label">
																Manufacturer
															</td>
															<td class="Value">
																{{ model.manufacturer }}
															</td>
														</tr>
														{% if model.similar %}
														<tr>
															<td class="Label">
																Includes
															</td>
															<td class="Value">
																{{ model.model }}, {{ model.similar }}
															</td>
														</tr>
														{% endif %}
														{% if model.release_date %}
														<tr>
															<td class="Label">
																Release Date
															</td>
															<td class="Value">
																{{ model.release_date }}
															</td>
														</tr>
														{% endif %}
														{% if model.status %}
														<tr>
															<td class="Label">
																Status
															</td>
															<td class="Value">
																{{ model.status }}
															</td>
														</tr>
														{% endif %}
													</tbody>
												</table>
									</section>
								</div>
											
								
								<!-- <!-- Right Sidebar --> -->
									<!-- <div class="sidebar"> -->
										<!-- <section> -->
											<!-- <header> -->
											<!-- <h3 id="Specs">Configurations</h3> -->
											<!-- </header> -->
											
											<!-- <!-- Parts list: Processor --> -->
											<!-- {% if site.data.t430.processors %} -->
												<!-- <table> -->
													<!-- <thead> -->
														<!-- <tr><th><i class="fa fa-microchip"></i> &nbsp; Processors</th><th id="FRUHeader">FRU</th></tr> -->
													<!-- </thead> -->
													<!-- <tbody> -->
														<!-- {% for item in site.data.t430.processors %} -->
															<!-- <tr> -->
																<!-- <td> -->
																	<!-- {% if item.link %} -->
																		<!-- <a href="{{ item.link }}"{% if item.link and item.tooltip %} title="{{ item.tooltip }}"{% endif %}> -->
																	<!-- {% endif %} -->
																	<!-- {{ item.name }} -->
																	<!-- {% if item.link %} -->
																		<!-- </a> -->
																	<!-- {% endif %} -->
																<!-- </td> -->
																<!-- <td id="FRU"> -->
																	<!-- {% if item.fru %} -->
																		<!-- {{ item.fru }} -->
																	<!-- {% endif %} -->
																<!-- </td> -->
															<!-- </tr> -->
														<!-- {% endfor %} -->
													<!-- </tbody> -->
												<!-- </table> -->
											<!-- {% endif %} -->
											
											<!-- <!-- Parts list: Graphics --> -->
											<!-- {% if site.data.t430.graphics %} -->
												<!-- <table> -->
													<!-- <thead> -->
														<!-- <tr><th><i class="fa fa-palette"></i> &nbsp; Graphics</th><th></th></tr> -->
													<!-- </thead> -->
													<!-- <tbody> -->
														<!-- {% for item in site.data.t430.graphics %} -->
															<!-- <tr> -->
																<!-- <td> -->
																	<!-- {% if item.link %} -->
																		<!-- <a href="{{ item.link}}"{% if item.link and item.tooltip %} title="{{ item.tooltip }}"{% endif %}> -->
																	<!-- {% endif %} -->
																	<!-- {{ item.name }} -->
																	<!-- {% if item.link %} -->
																		<!-- </a> -->
																	<!-- {% endif %} -->
																<!-- </td> -->
																<!-- <td> -->
																	<!-- {% if item.fru %} -->
																		<!-- {{ item.fru }} -->
																	<!-- {% endif %} -->
																<!-- </td> -->
															<!-- </tr> -->
														<!-- {% endfor %} -->
													<!-- </tbody> -->
												<!-- </table> -->
											<!-- {% endif %} -->
											
											<!-- <!-- Parts list: Displays --> -->
											<!-- {% if site.data.t430.displays %} -->
												<!-- <table> -->
													<!-- <thead> -->
														<!-- <tr><th><i class="fa fa-desktop"></i> &nbsp; Displays</th><th id="FRUHeader">FRU</th></tr> -->
													<!-- </thead> -->
													<!-- <tbody> -->
														<!-- {% for item in site.data.t430.displays %} -->
															<!-- <tr> -->
																<!-- <td> -->
																	<!-- {% if item.link %} -->
																		<!-- <a href="{{ item.link}}"{% if item.link and item.tooltip %} title="{{ item.tooltip }}"{% endif %}> -->
																	<!-- {% endif %} -->
																	<!-- {{ item.name }} -->
																	<!-- {% if item.link %} -->
																		<!-- </a> -->
																	<!-- {% endif %} -->
																<!-- </td> -->
																<!-- <td id="FRU"> -->
																	<!-- {% if item.fru %} -->
																		<!-- {{ item.fru }} -->
																	<!-- {% endif %} -->
																<!-- </td> -->
															<!-- </tr> -->
														<!-- {% endfor %} -->
													<!-- </tbody> -->
												<!-- </table> -->
											<!-- {% endif %} -->
											
											<!-- <!-- Parts list: Memory --> -->
											<!-- {% if site.data.t430.memory %} -->
												<!-- <table> -->
													<!-- <thead> -->
														<!-- <tr><th><i class="fa fa-memory"></i> &nbsp; Memory</th><th></th></tr> -->
													<!-- </thead> -->
													<!-- <tbody> -->
														<!-- {% for item in site.data.t430.memory %} -->
															<!-- <tr> -->
																<!-- <td> -->
																	<!-- {% if item.link %} -->
																		<!-- <a href="{{ item.link }}"> -->
																	<!-- {% endif %} -->
																	<!-- {{ item.name }} -->
																	<!-- {% if item.link %} -->
																		<!-- </a> -->
																	<!-- {% endif %} -->
																<!-- </td> -->
																<!-- <td id="FRU"> -->
																	<!-- {{ item.fru }} -->
																<!-- </td> -->
															<!-- </tr> -->
														<!-- {% endfor %} -->
													<!-- </tbody> -->
												<!-- </table> -->
											<!-- {% endif %} -->
											
											<!-- <!-- Parts list: Storage --> -->
											<!-- {% if site.data.t430.storage %} -->
												<!-- <table> -->
													<!-- <thead> -->
														<!-- <tr><th><i class="fa fa-database"></i> &nbsp; Storage</th><th id="FRUHeader">FRU</th></tr> -->
													<!-- </thead> -->
													<!-- <tbody> -->
														<!-- {% for item in site.data.t430.storage %} -->
															<!-- <tr> -->
																<!-- <td> -->
																	<!-- {% if item.link %} -->
																		<!-- <a href="{{ item.link}}"{% if item.link and item.tooltip %} title="{{ item.tooltip }}"{% endif %}> -->
																	<!-- {% endif %} -->
																	<!-- {{ item.name }} -->
																	<!-- {% if item.link %} -->
																		<!-- </a> -->
																	<!-- {% endif %} -->
																<!-- </td> -->
																<!-- <td id="FRU"> -->
																	<!-- {% if item.fru %} -->
																		<!-- {{ item.fru }} -->
																	<!-- {% endif %} -->
																<!-- </td> -->
															<!-- </tr> -->
														<!-- {% endfor %} -->
													<!-- </tbody> -->
												<!-- </table> -->
											<!-- {% endif %} -->
											
											<!-- <table> -->
												<!-- <thead><tr><th><i class="fa fa-sitemap"></i> &nbsp; LAN</th><th></th></tr></thead> -->
												<!-- <tbody> -->
													<!-- <tr><td><a href="https://ark.intel.com/products/55350/Intel-82577LM-Gigabit-Ethernet-PHY" title="Intel ARK">Intel® 82577LM Gigabit</a></td><td></td></tr> -->
													<!-- <tr><td><a href="https://ark.intel.com/products/55349/Intel-82577LC-Gigabit-Ethernet-PHY" title="Intel ARK">Intel® 82577LC Gigabit</a></td><td></td></tr> -->
													<!-- <tr><td><a href="https://ark.intel.com/products/47620/Intel-82579LM-Gigabit-Ethernet-PHY" title="Intel ARK">Intel® 82579LM Gigabit</a></td><td></td></tr> -->
												<!-- </tbody> -->
											<!-- </table> -->
											<!-- <table> -->
												<!-- <thead><tr><th><i class="fa fa-wifi"></i> &nbsp; WLAN</th><th id="FRUHeader">FRU</th></tr></thead> -->
												<!-- <tbody> -->
													<!-- <tr><td>ThinkPad BGN 1x1</td><td id="FRU">60Y3247</td></tr> -->
													<!-- <tr><td><a href="https://ark.intel.com/products/59468/Intel-Centrino-Advanced-N--WiMAX-6250-Dual-Band" title="Intel ARK">Intel® Centrino 6250</a></td><td id="FRU">04X6004</td></tr> -->
													<!-- <tr><td><a href="https://ark.intel.com/products/59474/Intel-Centrino-Ultimate-N-6300-Dual-Band" title="Intel ARK">Intel® Centrino 6300</a></td><td id="FRU">04X6003</td></tr> -->
												<!-- </tbody> -->
											<!-- </table> -->
											<!-- <table> -->
												<!-- <thead><tr><th><i class="fa fa-broadcast-tower"></i> &nbsp; WWAN</th><th id="FRUHeader">FRU</th></tr></thead> -->
												<!-- <tbody> -->
													<!-- <tr><td><a href="http://m2msupport.net/m2msupport/sierra-wireless-mc8355-hspa-3g-module/" title="M2M Support">Sierra Gobi 3000</a></td><td id="FRU">60Y3257</td></tr> -->
													<!-- <tr><td><a href="https://techship.com/products/ericsson-h5321gw-101/" title="Techship">Ericsson H5321GW</a></td><td id="FRU">04W3786</td></tr> -->
												<!-- </tbody> -->
											<!-- </table> -->
											<!-- <table> -->
												<!-- <thead><tr><th><i class="fa fa-battery-full"></i> &nbsp; Battery</th><th id="FRUHeader">FRU</th></tr></thead> -->
												<!-- <tbody> -->
													<!-- <tr><td>70+ (6cell 57W/Hr)</td><td id="FRU">45N1005</td></tr> -->
													<!-- <tr><td>70++ (9cell 94W/Hr)</td><td id="FRU">0A36303</td></tr> -->
													<!-- <tr><td>28++ Slice (9cell 94W/Hr)</td><td id="FRU">45N1016</td></tr> -->
												<!-- </tbody> -->
											<!-- </table> -->
										<!-- </section> -->

										<!-- <section> -->
											<!-- <header> -->
												<!-- <h2 style="text-align:center;">Files <i class="fa fa-file-pdf"></i></h3> -->
											<!-- </header> -->
											<!-- <ul class="buttons"> -->
												<!-- <li><a href="/hmm/{{ page.model }}.pdf" class="button special">HMM (Service Manual)</a></li> -->
											<!-- </ul> -->
											<!-- <ul class="buttons"> -->
												<!-- <li><a href="/frubom/{{ page.model }}.pdf" class="button special">FRU BOM (FRU List)</i></a></li> -->
											<!-- </ul> -->
										<!-- </section> -->

										<!-- <section> -->
											<!-- <header> -->
												<!-- <h2 style="text-align:center;">Official Links <i class="fa fa-external-link-alt"></i></h3> -->
											<!-- </header> -->
											<!-- <ul class="buttons"> -->
												<!-- <li><a href="https://support.lenovo.com/co/en/solutions/pd023488" class="button special">System Service Parts</a></li> -->
											<!-- </ul> -->
											<!-- <ul class="buttons"> -->
												<!-- <li><a href="https://support.lenovo.com/co/en/solutions/pd023489" class="button special">LCD Service Parts</a></li> -->
											<!-- </ul> -->
										<!-- </section> -->
									<!-- </div> -->

							</div>
						</div>					
					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
						</div>
					</section>
			</article>
			
														{% endfor %}